
.card__perfil{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "a c c c"
    "a c c c"
    "a c c c"
    "b b b b";
    gap: 10px;
    background-color: rgb(165, 93, 161);
    width:100%;
    height: 100%;
}

.img__perfil{
    grid-area: a;
}

.data__perfil{
    grid-area: c;
}

.button__perfil{
    background-color: #c75692;
      width: 100%;
      height: 2.8rem;
      grid-area: b;
      color: rgb(226, 220, 220);
      border: none;
      cursor: pointer;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
}
.button__perfill{
    background-color: #555354;
      width: 100%;
      height: 2.8rem;
      grid-area: b;
      color: rgb(214, 216, 221);
      border: none;
      cursor: pointer;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
}

.descripcion__perfil{
    color: black;
}
.card__perfil{
    color:rgb(29, 28, 28);
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "a c c c"
    "a c c c"
    "a c c c"
    "b b b b";
    gap: 10px;
    background-color: rgb(255, 249, 255);
    width:100%;
    height: 100%;
}

.img__perfil{
    grid-area: a;
    width: 300px;
    height:350px;
}

.data__perfil{
    grid-area: c;
}

.button__perfil{
    background-color: #e44f9c;
      width: 100%;
      height: 2.8rem;
      grid-area: b;
      color: white;
      border: none;
      cursor: pointer;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;

}
