.bkg{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    
}

.Chat{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #5f5c5c75;
    border-radius: 10px;
    padding: 10px;
    left: 15px;
    box-shadow: 0px 0px 10px #000;  
      
}

.form{
    position: absolute;
    left: 55%;
    margin: 15px;
    padding: 15px;  


}

.textarea{
    position: absolute;
    width: 800px;
    border: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;  
}

.nombre{
    font-size: medium;
    font-weight: bold;
    color: black;

}

.mensaje{
    font-size: x-large;
    color: black;
    
}

.emoji{
    position: absolute;
    left: 10px;
    top: 260px;
    font-size: x-large;
    color: black;
    margin-left: 80%;
}

.span{
    background-color: rgba(255, 0, 0, 0.411);
    border-radius: 10px;
    padding: 5px;
    margin-left: 50%;
    font-size: medium;
    font-weight: bold;
    color: rgb(90, 88, 88);
    
}

.button{
    position: relative;
    margin-top: 90%;
    background-color: #5f5c5c75;
    border-radius: 10px;
    
    
}