.navbar {
    position: sticky;
    top: 0px;
    height: 70px;
    background-color: #646464;
    opacity: 0.75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    margin-bottom: -70px;
    z-index: 5;
}

.navbarLogo {
    color: white;
    font-family: "MonteCarlo", cursive;
    font-size: 2.5rem;
    position: relative;
    bottom: 10px;
}

.navbarList {
    display: flex;
    list-style: none;
}

.navbarItem {
    white-space: nowrap;
}

.navbarLink {
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    border-style: groove;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(245, 245, 245, 0.671);
    transition: 250ms;
    position: relative;
    top: 7px;
    padding: 10px;
    margin: 0px 5px;

}

.navbarLink:hover {
    border-color: white;
    transition: 250ms;
}

.navbarMenu {
    color: white;
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .navbarList {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        top: 70px;
        left: -100%;
        width: 100%;
        height: 300px;
        position: absolute;
        transition: all 0.5s ease;
    }

    .navbarList--active {
        left: 0;
    }

    .navbarMenu {
        display: block;
    }

    .navbarItem {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        flex: 1;
    }

    .navbarLink {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0px;
        border-width: 0px;
        background-color: #646464;
        opacity: 0.80;
        color: white;
    }
}