.container__main{
  display:grid;
  grid-template-columns: 1fr 4fr;
  margin-right: 25px;
}

table {
    margin:10px 0;
    font-family: arial, sans-serif;
    border:1px solid #c017b2;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }