.tarjetaTop{
    display: flex;
    width: 50;
    height: 2rem;
    border-bottom: solid 2px #646464;
    justify-content: center;
    padding-bottom: 5px;
}

.tarjetaConductora{
    /* display: flex; */
    width: 15rem;
    height: 35rem;
    background-color: white;
    border: 2px solid #dfdede;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 4px #646464;
    color:#e44f9c;
    font-size: medium;
    font-weight:bold;
    align-items: left;
    /* flex-direction: row; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    padding: 20px;
    
}
.botonDisabled{
    background-color: #e44f9c;
      width: 8rem;
      height: 2.8rem;
      
      border-radius: 0.5rem;
      color: white;
      border: none;
      cursor: pointer;
      box-shadow: 2px 2px 4px #646464;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;

}
 
 .botonPedirConductora{
    background-color: #e44f9c;
      width: 8rem;
      height: 2.8rem;
      
      border-radius: 0.5rem;
      color: white;
      border: none;
      cursor: pointer;
      box-shadow: 2px 2px 4px #646464;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      
}
.botonPedirConductora:hover{
    background-color: #ff69b4;
    color: white !important;
    border: none;
    font-weight: bold;
}

.ubicacionBoton{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.icono{
    display: flex;
    /* margin-top: 8rem; */
    padding: 2px;
    color: black;
    border:#e44f9c solid 2px;
    border-radius: 9999px; 
    justify-content: center ;
    align-items: left;
    
    
}
 /* h5{
    color: #646464;
    font-size: larger;
    font-weight: bold;
}
h5:hover{
    background-color: #ff69b4;
    color: white !important;
    border: none;
    font-weight: bold;
} */
 /* a:hover{
     background-color: #e44f9c; 
    color: #ff97d9 !important;
    border: none;
    font-weight: bold;
}  */

/* background: linear-gradient(to right, #f988ff, #7f00b2); */