/* .btn-primary {
    color: #fff;
    background-color: #f988ff;
    border-color: #7f00b2;
  }
   */
  /* .btn-primary:hover {
    color: #fff;
    background-color:  #f988ff;
    border-color:  #7f00b2;
  } */

