
.fullName{
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 1rem;
    display: inline-block;
}

.dataContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.planText{
    display: inline-block;
    margin-top: .5rem;
    font-size: .9rem;
    color: #939eb0;
    font-weight: 500;
}
.planContainer{
    margin-top: .5rem;
    border: 3px solid gold;
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: .5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}

.planContainer:hover {
    box-shadow: 0px 1px 35px -1px gold;
-webkit-box-shadow: 0px 1px 35px -1px gold;
-moz-box-shadow: 0px 1px 35px -1px gold;
 background-color: gold;
}

.silver{
    margin-top: .5rem;
    border: 3px solid silver;
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: .5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}
.silver:hover {
    box-shadow: 0px 1px 35px -1px silver;
-webkit-box-shadow: 0px 1px 35px -1px silver;
-moz-box-shadow: 0px 1px 35px -1px silver;
 background-color: silver;
}

.platinum{
    margin-top: .5rem;
    border: 3px solid rgb(52, 255, 177);
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: .5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}
.platinum:hover {
    box-shadow: 0px 1px 35px -1px rgb(52, 255, 177);
-webkit-box-shadow: 0px 1px 35px -1px rgb(52, 255, 177);
-moz-box-shadow: 0px 1px 35px -1px rgb(52, 255, 177);
 background-color: rgb(52, 255, 177);
}

.particular{
    margin-top: .5rem;
    border: 3px solid rgb(255, 191, 52);
    width: 6rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: .5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}
.particular:hover {
    box-shadow: 0px 1px 35px -1px rgb(255, 191, 52);
-webkit-box-shadow: 0px 1px 35px -1px rgb(255, 191, 52);
-moz-box-shadow: 0px 1px 35px -1px rgb(255, 191, 52);
 background-color: rgb(255, 191, 52);
}
.labelContainer{
    margin-top: 2rem;
}

.label{
    font-size: 1rem;
    font-weight: 500;
    color: #939eb0;
    margin-right: .5rem;
}

.dataLabel{
    font-size: 1rem;
    font-weight: 500;
    color: black;
}