/* .container {
    background-color:  rgb(211, 222, 220);
    border: solid 1.5px;
    border-radius: 2px;
} */

h3{
    color: black
}
.boton {
  background-color: rgb(76, 93, 105);
  width: 6rem;
  height: 2.2rem;
  font-weight: bold;
  border-radius: 2rem;
  color: #e3e8f8;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px #000000;
  margin-bottom: 8%;
   
}

.boton {
  
  background: linear-gradient(to right, #f988ff, #7f00b2);
      width: 8rem;
      height: 2.8rem;
      
      border-radius: 0.5rem;
      color: white;
      border: none;
      cursor: pointer;
      box-shadow: 2px 2px 4px #646464;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
}

.boton:hover {
  
    font-size: 1.2rem;
    transition: .3s all;
}
.boton span {
    margin-right: 10px;
    
    
    
   
}
/* input, textarea{
    box-shadow: 2px 2px 4px #000000 ;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
 form{
  box-shadow: 2px 2px 4px #646464;  
   border-radius: 0.5rem;
}  */