main{
    border: 1px solid green;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .contain{
    width: 100%;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
  }
  
  .form{
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 2px solid #000;
    border-radius: 2rem;
    box-shadow: 3px 3px 5px #000000;
    margin-top: 20px;
    text-align: center;
    background: linear-gradient(to right, #f7f7f7, #fdfbfe);
  }
  
  .containLR{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .1rem;
    font-size: 1rem;
  
  }
  
  .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .1rem;
    font-size: 1rem;
  }
  
  .input{
    width: 80%;
    border-radius: .7rem;
    border: 2px solid #00000080;
    height: 2rem;
    outline-style: none;
  }
  
  .contain_btns{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: .7rem;
  }
  .separate{
    width: 80%;
    height: .2rem;
    border-radius: 1rem;
    background-color: #000;
    margin: .5rem 0;
  }
  
  .contain_check{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: bold;
  }
  .btn_resgister{
    width: 10rem;
    height: 2rem;
    border-radius: 2rem;
    border: 1px solid #00000080;
    box-shadow: 2px 2px 5px #000000;
    transition: .3s all;
    display: flex;
    align-self: center;
    padding-left: 42px;
  
  }
  .btn_resgister:hover{
    background-color: #f988ff;
    color: #fff;
    font-weight: bold;
    transition: .3s all;
  
  }
  .yetCount{
    font-weight: bold;
  }
  .btn_in{
    width: 5rem;
    height: 2rem;
    border-radius: 2rem;
    border: 1px solid #00000080;
    box-shadow: 2px 2px 5px #000000;
    transition: .3s all;
  }
  .btn_in:hover{
    background-color: #f988ff;
    color: #fff;
    font-weight: bold;
    transition: .3s all;
    
  }
  .check{
    width: 1rem;
    height: 1rem;
  }
  .contain_count{
    width: 100%;
    margin-bottom: 1.1rem;
    /* position: relative; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
  }
  /* .btn_google{
    position: absolute;
    top: 0;
    left: 30px;
  } */
  
  .count{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
  
  
  
  .containUser,
  .containPass,
  .containCpass,
  .containEmail{
    position: relative;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: end;
    
  }
  .errName,
  .errUser,
  .errPass,
  .errCpass,
  .errEmail{
    position: absolute;
    color: red;
    bottom: 0;
  }
  
  .containR{
    position: relative;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: start;
  
  }
  
  .errR{
    position: absolute;
    color: red;
    bottom: 0;
  }
  .info{
    width: 70%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nombre {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    
  }
  .containName {
    position: relative;
    width: 60%;
    height: 4rem;
    display: flex;
    padding-left: 75px;
    align-self: center;
    justify-self: center;
  }
  
  @media (max-width:800px) {
    
    
  }