.perfilCard{
width: 100%;
height: max-content;
border-radius: 10px;
background: white;
box-shadow: 0px 1px 10px 1px black;
}

.usuario{
    position: absolute;
    left: 120px;
    top: 24px;
}

.upperContainer{ 
    height: max-content;
    width: 100%;
border-radius: 10px 10px 0 0;
    background: linear-gradient(to right, #f89cfd, #7805a5);
}

.imageContainer{
background: none;
height: 100px;
width: 100px;
border-radius: 50%;
}

.lowerContainer{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 120px;
    left: 20px;
}

.editIcon{
    object-position: left;
}

.logoutC{
    position: absolute;
    top: 675px;
    left: 20px;
<<<<<<< HEAD
    background: rgb(63, 191, 241);
}
.logoutD{
    position: absolute;
    top: 675px;
    left: 100px;
    background: rgb(63, 191, 241);
=======
    background-color: darkturquoise;
}
.volver{
    position: absolute;
    top: 675px;
    left: 100px;
    background-color: darkturquoise;
>>>>>>> 108afeb582674cc3d6a2ea5a5a2027759c5a68aa
}